*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Inter", sans-serif;
}

.header{

    width:100%;
    background:white;
    padding:18px 0;

}

.container{

    width:88%;
    max-width:1280px;
    margin:0 auto;

}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

}


.logo{

    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;

}

.logo img{

    width:34px;
    height:34px;

}

.logo-text h2{

    font-size:15px;
    font-weight:800;
    color:#111827;
    line-height:1.1;

}

.logo-text p{

    font-size:15px;
    font-weight:800;
    color:#111827;
    line-height:1.1;
    margin-top:2px;

}

.nav-list{

    display:flex;
    gap: 32px;
    list-style:none;

}

.nav-item a{

    text-decoration:none;
    color:dimgray;
    font-size:15px;
    font-weight:500;
    transition:.3s;

}

.nav-item a:hover{

    color: royalblue;

}


.common-btn{

    display:inline-block;
    padding:14px 34px;
    background:royalblue;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition:.3s;

}

.common-btn:hover{

    background:#1d46cb;

}

/* Hero Section CSS  */

.hero{

    width:100%;
    height:100vh;

    background-image:
     linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
        url("./Images/Hero-dev.png");

    background-size:cover;
    background-position:center 15%;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-content{
    max-width:760px;
    margin:0 auto;
    transform: translateY(-90px);
}

.hero-content h1{
    font-size:80px;
    font-weight:800;
    color:white;
    line-height:1;
    margin-bottom:35px;
}

.hero-content h1 span{
    font-style:italic;
}

.hero-content p{
    font-size:23px;
    line-height:1.1;
    color:white;
    max-width: 700px;
    margin: 0 auto 85px;
}
.hero-btn {
    position: relative;
    top: 135px; 
}

/* Speaker Section CSS  */

.speakers-section{
    padding:100px 0;
    background:white;
}


.speakers-title{
    text-align:center;
    margin-bottom:60px;
}

.speakers-title h2{
    font-size:48px;
    font-weight:700;
    color:black;
}


.speakers-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}


.speaker-card{
    background: white;
    border:1px solid #e8e8e8;
    border-radius:10px;
    overflow:hidden;
}


.speaker-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    display:block;
}

.speaker-info{
    padding:22px;
}

.speaker-category{
    display:inline-block;
    margin-bottom:12px;

    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;

    color:#2563eb;
}

.speaker-info h3{
    font-size:28px;
    font-weight:700;
    color: black;
    margin-bottom:10px;
}

.speaker-info p{
    font-size:17px;
    color:#6b7280;
    line-height:1.6;
}

/* Pricing  Section CSS -- Start */

.pricing-section{

    padding:100px 0;
    background:#ffffff;

}

.pricing-title{

    text-align:center;
    margin-bottom:60px;

}

.pricing-title h2{

    font-size:48px;
    font-weight:700;
    color:#111827;
    margin-bottom:15px;

}

.pricing-title p{

    font-size:18px;
    color:#6b7280;

}

.pricing-cards{

    display:flex;
    justify-content:space-between;
    gap:30px;

}

.pricing-card{

    width:33.33%;
    padding:35px;

    border:1px solid #e5e7eb;
    border-radius:12px;

    background:#ffffff;

}

.active-plan{

    background:#0f1c2e;
    color:#ffffff;
    border:none;

}

.active-plan h3,
.active-plan p,
.active-plan li{

    color:#ffffff;

}

.active-plan hr{

    border-color:rgba(255,255,255,.15);

}


.plan-name{

    display:block;

    font-size:13px;
    font-weight:700;
    letter-spacing:1px;

    color:#2563eb;
    margin-bottom:15px;

}

.pricing-card h3{

    font-size:58px;
    font-weight:700;

    color:#111827;

}

.plan-duration{

    color:#6b7280;
    margin-top:8px;
    margin-bottom:25px;

}

.pricing-card hr{

    border:none;
    border-top:1px solid #e5e7eb;
    margin-bottom:30px;

}

.pricing-card ul{

    list-style:disc;
    padding-left:18px;
    margin-bottom:35px;

}

.pricing-card ul li{

    margin-bottom:16px;
    color:#374151;
    line-height:1.5;

}

.standard-btn,
.pro-btn,
.team-btn{

    display:block;
    text-align:center;

}

/* Pricing Section Css -- End */
